# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env
pip-wheel-metadata/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Distribution
*.tar.gz
*.whl

# Data
openEQA/

# Outputs / checkpoints
outputs/
ckpts/
*.pt
*.ckpt

# Logs
*.log

# OS
.DS_Store
Thumbs.db

data/visual_genome/
data/VSI-Bench/
